<html lang="it">
<!--Versione 1.1 - 10.7.2024 -->
<!--(c) francescobrunetta.it -->
<!-- Sostituire le informazioni di questo template con quelle rilevanti. 
-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Valuta questa risposta</title>

    <!-- Inserire nome e cognome per identificare l'autore di questo form -->
    <meta name="xxxxx xxxxx" content="html blank">    


    <!-- TITOLO -->
	<!-- il title in og sovrascrive il title in meta name che sovrascrive il title generale - non è necessario 
         inserirli entrambi
    -->
    <meta name="title" content="Valuta questa risposta">
	<meta property="og:title" content="Valuta questa risposta"/>

   <!-- DESCRIPTION --> 
   <meta name="description" content="Per cortesia, lascia un click per migliorare in futuro" />
   <!-- la description in og sovrascrive la description meta generale - non è obbligatorio, se manca viene 
        utilizzata la description precedente
	-->
	<meta property="og:description"content="Per cortesia, lascia un click per migliorare in futuro" />
	
    <!-- IMAGE-->
    <!-- facebook usa come anteprima una porzione centrata dell'immagine piu piccola di quanto avviene in microsoft teams
         Suggerisco di definire correttamente width e height dell'immagine nei meta opportuni 
		 Suggerisco anche di creare le opportune icone standard e di metterle nella stessa cartella
		 che conterrà il vs. file html e l'immagine di anteprima. 
		 Per generarle automaticamente, provate: https://favicon.io/favicon-converter/ 		 
	-->	
    <meta property="og:image" content="https://www.ilmiositopersonale.org/public/rateme/preview-510.jpg"/>
	<meta property="og:image:width" content="510" />
	<meta property="og:image:height" content="200" />

	 <!-- ALTRE DEFINIZIONI -->
	 <!-- URL deve corrispondere all'indirizzo finale che ospita questa pagina -->
	<meta property="og:url" content="http://www.ilmiositopersonale.org/public/rateme/template.htm"/>
	<meta property="og:site_name" content="Valutazione intervento"/>
	<meta property="og:type" content="website"/>

     <!-- STILI EMBEDDED -->
    <style>
      .theform {
        width: 100%;
        height: 100%;
        overflow: hidden;
     }
    </style>
    
  </head>
  <body>
  <!-- inserire l'url del form corretto... quello in questo template è fasullo e non funziona-->
    <iframe 
      scrolling = "no"
      class="theform"
      frameborder="0" border="0"
      src="https://forms.microsoft.com/pages/responsepage.aspx?id=xxxxxxxxxxxxxxxxxxxxqPotpnCpghpFv3R7lDfHaWVUOEwzT0RWSVY5R01BMkFYQTI3R1ZPUUc5Ti4u&origin=lprLink">
    </iframe>
    
  </body>
</html>

